.resource-button {
  width: 100%;
    padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fafafa;
  cursor: pointer;
  text-align: left;
  transition: 0.2s ease;
}

/* Hover styling */
.resource-button:hover {
  background: #f0eaea;
  border-color: #ccc;
}
